'atom-text-editor.vim-mode-plus:not(.insert-mode):not(.visual-mode)':
  'y d': 'vim-mode-plus-user:duplicate'

'atom-text-editor.vim-mode-plus.operator-pending-mode.duplicate-pending':
  'd': 'vim-mode-plus-user:duplicate' # ydd duplicates line
